.offeringCards{
    display: flex;
    gap: 20px;
}
.card{
    padding: 10px;
    background-color: white;
    text-align: center;
}
.offeringsContent{
    width: 80%;
    margin: auto;
}
.cardDetails h3{
    color:#541a25;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder !important;
}
.cardImage img{
    width: 100%;
}
.offerings{
    background-image: radial-gradient(circle at center,rgba(0,0,0,.44) 0,rgba(0,0,0,.71) 100%),url(/images/sit-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 30px;
    font-family: sans-serif;
}
.offeringsContent h2{
    color: white;
    margin-bottom: 150px;
    font-size: 40px;
    font-weight: lighter;
}
.card h3{
    font-weight: lighter;
}
.card p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 50px;
}
.card button{
    color: #fff;
    background: #541a25;
    border: 2px solid #6b6b6b;
    padding: 0.7em 1.3em;
    margin-top: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

@media screen and (max-width: 980px){
    .offeringCards{
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .card{
        width: 45%;
    }
}

@media screen and (max-width: 766px){
    .card{
        width: 90%;
    }
}